nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1f3042;
    margin: 0.2rem;
    margin-bottom: 0.5rem;
    padding: 0.3rem 0.6rem;
}
.icon:hover {
cursor: pointer;
}
.horizontalUl {
    display: none;
}
.verticalUl  {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0.3rem;
    padding: 0.3rem;
    border: 1px solid rgb(11, 52, 95);
} 
.verticalUl li {
    border-radius: 5px;
    display: flex;
    align-items: center;
    border: 1px solid rgb(11, 52, 95);
    padding: 0.3rem;
    margin-bottom: 0.3rem;
    /* background-color: #1f3042; */
}
.verticalUl li:hover {
    cursor: pointer;
}
.selectedItem {
    /* border: 1px solid  #02487f; */
    background-color: #02487f;
}
.brandNameBox {}
.brandNameBox span{
    color: #fff;
    letter-spacing: 0.1rem;
    font-size: 1.9rem;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.menuBox {
    display: flex;
}
.homeIcon {
    margin-right: 0.5rem;
}
.link {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.link:hover {}
.icon {
    margin-right: 0.2rem;
}
@media screen and (min-width: 900px) {
    .horizontalUl {
        display: flex;
        list-style-type: none;
        /* border: 1px solid deeppink; */
    }
    .horizontalUl li {
        margin-bottom: 0.3rem;
        margin-top: 0.3rem;
        margin-right: 0.9rem;
        margin-left: 1rem;
        font-weight: 500;
        border: 1px solid #586c82;
        padding: 0.3rem;
        border-radius: 5px;
    }
    .horizontalUl li:hover {
        border: 1px solid rgb(132, 174, 219);
        color: #fff;
    }
    .menuBox {
        display: none;
    }
}