.parent {
    justify-content: center;
    align-items: center;
 }
 .headerOne {
    display: flex;
    justify-content: center;
 }
 .headerOne span {
     font-size: 1.3rem;
     color: aqua;
     border-bottom: 1px solid #fff;
 }
 .introText {
     margin-top: 0;
     margin-bottom: 0;
     padding: 0.6rem;
 }
 .headerTwo {
     margin-top: 0;
     margin-bottom: 0.4rem;
     margin-left: 1rem;
 }
 .headerTwo span {
    color: aqua;
 }
 .projectsBox {
    background-color: rgb(19, 48, 62);
    margin: 0.5rem;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
     margin-top: 0;
     border-radius: 10px;
 }

@media screen and (min-width: 600px) {
    .introText {
        padding: 1rem;
    }
    .projectsBox {
        flex-direction: row;
    }
    .headerOne span {
        font-size: 1.8rem;
    }
    .headerTwo span {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 1000px) {
    .parent {
        padding: 1rem;
        margin: 0 5rem;
        border: 0.1px solid #fff;
    }
    .introText {
        padding: 0 6rem;
    }
    .headerTwo {
        margin-left: 5rem;
    }
    .projectsBox {
        margin: 1rem 2rem;
    } 
        
}